<suite name="API Suite">
    <test name="Test">
        <classes>
            <class name="com.bookstore.apitesting.testcases.UserRegistration" />
            <class name="com.bookstore.apitesting.testcases.GetAllBooks" />
            <class name="com.bookstore.apitesting.testcases.GetBookByID" />
        </classes>
    </test>
</suite>